body {
	overflow: none;
	font-family: 'Montserrat', sans-serif;
	touch-action: none;
	margin: 0px;
}

.bloob
{
	width: 5vw;
	position: absolute;
	font-size: 7.5vw;
	cursor: default;
	user-select: none;
}

#message
{
	text-align: center;
	display: none;
	font-size: 5vh;
}

#header
{
	font-size: 20vh;
}